h1, h2, h3, h4, h5, p{
    text-align: center;
}

.large-font {
    text-align: center;
    font-size: 22px;
}

header {
    background: radial-gradient(circle, turquoise 50%, lemonchiffon 70%, rgb(255, 226,138) 0%)
}

#card, p {
    background: radial-gradient(circle, lemonchiffon 70%, rgb(255, 226,138) 0%)
}

.card {
    background: radial-gradient(circle, lemonchiffon 70%, rgb(255, 226,138) 0%)
}
button {
    background: radial-gradient(circle, lemonchiffon 30%, turquoise 70%) 0%;
    border-radius: 20x;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 10px;
    max-width: 200px;
    padding: 20px 52px;
    text-align: center;
    /*transition-duration: 2.s;
    transition-property: background-color;
    transition-timing-function: linear;*/
    margin-top: 0.6em;
}

.play {
    background: radial-gradient(circle, lemonchiffon 30%, turquoise 70%) 0%;
    border-radius: 20x;
    color: #13293d;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 10px;
    max-width: 200px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;
}

body {
    background:rgb(255, 226,138) 
}

footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    word-spacing: 60px;
